* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;

}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    font-size: 1.2rem;
    color: #fff;
    min-width: 800px;
}
.logo{
    width: 30dvh;
}
.logo img{
    width: 100%;
    height: 100%;
}


.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    height: 80px;
    padding: 2px;
    min-width: 800px;
}
.cards div{
    height: 50%;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background-color: #ec5b20;
    color: #fff;
}

.cards div span:nth-child(1){
    margin-right: 10px;
}


.base {
    height: 40dvh;
    margin-bottom: 20px;
}

.base .table-wrapper {
    width: 80%;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 10px;
    margin: 0 auto;
    color: white;
    font-weight: bold;
}

.base .table {
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgba(236, 91, 32, 0.56);
}

.base .table thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

.base .table thead th {
    background-color: #ec5b20;
    padding: 8px;
    font-weight: bold;
    color: #fff;
}

.base .table thead th:first-child {
    border-top-left-radius: 10px;
}

.base .table thead th:last-child {
    border-top-right-radius: 10px;
}

