<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script defer src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script defer src="/js/home.js"></script>
    <meta charset="UTF-8">
    <title>Live Stats</title>
</head>
<body>
    <header th:style="${headerStyle}">
        <div class="logo">
            <img th:src="${logoUrl}" alt="Logo">
        </div>

        <div>
            <h1 th:style="${headerFontColor}">Live Stats</h1>
        </div>
    </header>

    <main>
        <section class="cards">
            <div id="online"></div>
            <div id="offline"></div>
            <div id="semstatus"></div>
        </section>

        <section class="base">
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th>ID</th>
                            <th>Login</th>
                            <th>Bairro</th>
                            <th>Conexão Inicial</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody id="online-body" class="text-center">
                    </tbody>
                </table>
            </div>
        </section>

        <section class="base">
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Login</th>
                        <th>Bairro</th>
                        <th>Conexão Final</th>
                        <th>Status</th>
                    </tr>
                    </thead>

                    <tbody id="offline-body" class="text-center">
                    </tbody>
                </table>
            </div>
        </section>

        <section class="base">
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Login</th>
                        <th>Bairro</th>
                        <th>-</th>
                        <th>Status</th>
                    </tr>
                    </thead>

                    <tbody id="semstatus-body" class="text-center">
                    </tbody>
                </table>
            </div>
        </section>

    </main>
</body>
</html>